body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.App {
	margin: 1rem;
}

.App-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: linear-gradient(
		227deg,
		#fad961 0%,
		#ff6f17 55%,
		#e20000 100%
	);
	padding: 1rem 1rem 1.1rem;
	color: white;
}

.App-title a {
	text-decoration: none;
}

.App-title {
	font-size: 1.5em;
}

ul {
	list-style: none;
	display: inline;
}

ul li {
	margin-bottom: 1rem;
}

#category-selector a {
	text-decoration: none;
	color: #ff6f17;
}

#category-selector .selected {
	background-color: #ff6f17;
	color: white;
}

.add-post-button {
	font-size: 0.8rem;
	font-weight: 600;
	border-radius: 2rem;
	padding: 1rem 2rem;
	border: 0;
	box-shadow: none;
	cursor: pointer;
}
